MYSQL_URL=jdbc:mysql://host.docker.internal:3306/user_center?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
MYSQL_USERNAME=your_username
MYSQL_PASSWORD=your_password
ADMIN_ENABLED=true
ADMIN_ACCOUNT=admin
ADMIN_PASSWORD=replace_with_a_strong_password
